In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from zipfile import ZipFile

from mimesis import Person
from mimesis.locales import Locale

In [2]:
DUMMY_DATA_DIR = Path("assets/dummy_data")

BOOK_TABEL_FILENAME = "books_df.csv"

USER_TABEL_FILENAME = "users_df.csv"

RATING_TABEL_FILNAME = "ratings_df.csv"

In [3]:
DATA_DIR = Path("assets/books.zip")

with ZipFile(DATA_DIR) as z:
    files = (file for file in z.namelist() if Path(file).suffix == ".csv")
    data = {Path(file).stem.lower(): pd.read_csv(z.extract(file),low_memory=False) for file in files}

In [4]:
def generate_names(unique_ids: set[str]) -> dict[str, str]:
    
    """Generate Fake Names matching unique ids
    """

    number_of_ids = len(unique_ids)
    person = Person(Locale.DA)
    unique_names = set()

    # Generate the specified number of female names
    while len(unique_names) < number_of_ids:
        name = person.full_name()
        unique_names.add(name)

    return {id:name for id, name in zip(unique_ids, unique_names)}


def filter_ratings(data, num_samples=10, random_state=40):
    ratings_df = data['ratings']
    books_list = ratings_df.sample(num_samples, random_state=random_state).ISBN.to_list()
    filtered_ratings_df = ratings_df[ratings_df['ISBN'].isin(books_list)]

    bins = [0, 5, 10]
    labels = ["Did Not Like", 'Liked']
    rating_cat = pd.cut(filtered_ratings_df["Book-Rating"], bins=bins, labels=labels, right=False)

    filtered_ratings_df.loc[:, 'Rating_cat'] = rating_cat
    filtered_ratings_df.to_csv(f"{DUMMY_DATA_DIR}/{RATING_TABEL_FILNAME}", index=False)
    return filtered_ratings_df

def generate_name_mapping(unique_ids):
    id_to_name = generate_names(unique_ids=unique_ids)
    return id_to_name

def generate_random_numbers_and_age_groups(size):
    np.random.seed(0)
    random_numbers = np.random.normal(loc=50, scale=20, size=size)
    random_numbers = np.clip(random_numbers, 8, 90)

    bins = [0, 11, 18, 25, 55, 110]
    labels = ['Kid', 'Teen', 'Young Adult', 'Adult', 'Old Person']
    age_group = pd.cut(random_numbers, bins=bins, labels=labels, right=False)
    age = random_numbers.round()

    return age_group, age

def generate_user_data(data):
    users_df = data["users"]
    ratings_df = filter_ratings(data)
    users_list = ratings_df["User-ID"].to_list()

    filtered_users_df = users_df[users_df["User-ID"].isin(users_list)]

    unique_ids = filtered_users_df["User-ID"].unique()
    id_to_name = generate_name_mapping(unique_ids)

    age_group, age = generate_random_numbers_and_age_groups(len(filtered_users_df))

    filtered_users_df.loc[:, 'User-Name'] = filtered_users_df["User-ID"].map(id_to_name)
    filtered_users_df.loc[:, 'AgeGroup'] = age_group
    filtered_users_df.loc[:, 'Age'] = age

    filtered_users_df.to_csv(f"{DUMMY_DATA_DIR}/{USER_TABEL_FILENAME}", index=False)
    return filtered_users_df

def process_books_data(data, preprocessed_users_df):
    books_df = data["books"][['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
    filtered_ratings_df = filter_ratings(data)
    books_df = books_df[books_df['ISBN'].isin(filtered_ratings_df["ISBN"].tolist())]
    
    # Define a list of genres
    genres = ['Mystery', 'Science Fiction', 'Romance', 'Fantasy', 'Thriller']
    
    # Add a 'Genre' column with randomly assigned genres
    books_df['Genre'] = np.random.choice(genres, size=len(books_df))
    books_df.to_csv(f"{DUMMY_DATA_DIR}/{BOOK_TABEL_FILENAME}", index=False)
    return books_df

filtered_users_df = generate_user_data(data)
processed_books_df = process_books_data(data, filtered_users_df)

/tmp/ipykernel_3511/63794686.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_ratings_df.loc[:, 'Rating_cat'] = rating_cat
/tmp/ipykernel_3511/63794686.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_users_df.loc[:, 'User-Name'] = filtered_users_df["User-ID"].map(id_to_name)
/tmp/ipykernel_3511/63794686.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_users_df.loc[:, 'AgeGroup'] = age_group
/tmp/ipykernel_3511/63794686.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_ratings_df.loc[:, 'Rating_cat'] = rating_cat

In [5]:
import duckdb

key_1 = "ISBN"
key_2 = "User-ID"

# Create a new table and insert the results of the JOIN query into it
duckdb.sql(
    f"""
    CREATE TABLE joined_table AS
    SELECT *
    FROM "{DUMMY_DATA_DIR}/{RATING_TABEL_FILNAME}" AS ratings
    JOIN "{DUMMY_DATA_DIR}/{BOOK_TABEL_FILENAME}" AS books ON (books.{key_1} = ratings.{key_1})
    JOIN "{DUMMY_DATA_DIR}/{USER_TABEL_FILENAME}" AS users ON (users."{key_2}" = ratings."{key_2}")
    """
)

In [6]:
# Select the data from the newly created table
dataf = duckdb.sql(
    """
    SELECT ISBN, "Book-Title", "Book-Author", "Year-Of-Publication", Publisher, Genre, "User-ID", "User-Name",
            "Book-Rating", "Rating_cat" ,Location, Age, AgeGroup
    FROM joined_table
    """
).df().sample(100)
dataf.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Genre', 'User-ID', 'User-Name', 'Book-Rating', 'Rating_cat',
       'Location', 'Age', 'AgeGroup'],
      dtype='object')

In [7]:
from ast import literal_eval
import json
# from decouple import config ".py
from decouple import AutoConfig # notebooks
import duckdb
import numpy as np
import pandas as pd
from mimesis import Person
from mimesis.locales import Locale

from neomodel import (config as cf,
                      db,
                      StructuredNode,
                      StringProperty,
                      StructuredRel,
                      DateTimeProperty,
                      RelationshipTo,
                      RelationshipFrom,
                      UniqueIdProperty,


)

from neomodel.contrib.spatial_properties import PointProperty, NeomodelPoint

In [8]:
cf.AUTO_INSTALL_LABELS = True
cf.ENCRYPTED_CONNECTION = False

#NEO4J_BOLT_URL="bolt://neo4j:metterocks@localhost:7687"
db.set_connection("bolt://neo4j:metterocks@localhost:7687")

db._NODE_CLASS_REGISTRY
db._NODE_CLASS_REGISTRY = {}

In [9]:
#delete all nodes
db.cypher_query(
"MATCH (n) DETACH DELETE n"
)

#delete all nodes and relationships
db.cypher_query(
"MATCH () <- [n] - () DELETE n"
)

([], [])

In [10]:
class Book(StructuredNode):
    title = StringProperty(unique_index=True)
    isbn = UniqueIdProperty()

    written_by = RelationshipTo('Author', 'WRITTEN_BY')
    belongs_to = RelationshipTo('Genre', 'BELONGS_TO')

class AgeGroup(StructuredNode):
    age = StringProperty(required=True)


class User(StructuredNode):
    uid = UniqueIdProperty()
    name = StringProperty(required=True)


    read = RelationshipTo('Book', 'READ')
    is_in = RelationshipTo('AgeGroup', 'IS_IN')
    liked = RelationshipTo('Book', 'LIKED')
    hate = RelationshipTo('Book', 'HATE')


class Author(StructuredNode):
    name = StringProperty(unique_index=True)


class Genre(StructuredNode):
    name = StringProperty(unique_index=True)

 + Creating node unique constraint for title on label Book for class __main__.Book
{code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent constraint already exists, 'Constraint( id=18, name='constraint_unique_Book_title', type='UNIQUENESS', schema=(:Book {title}), ownedIndex=17 )'.}
 + Creating node unique constraint for isbn on label Book for class __main__.Book
{code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent constraint already exists, 'Constraint( id=10, name='constraint_unique_Book_isbn', type='UNIQUENESS', schema=(:Book {isbn}), ownedIndex=9 )'.}
 + Creating node unique constraint for uid on label User for class __main__.User
{code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent constraint already exists, 'Constraint( id=12, name='constraint_unique_User_uid', type='UNIQUENESS', schema=(:User {uid}), ownedIndex=11 )'.}
 + Creating node unique constraint for name on label Author for class __main__.Author
{code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent constraint already exists, 'Constraint( id=16, name='constraint_unique_Author_name', type='UNIQUENESS', schema=(:Author {name}), ownedIndex=15 )'.}
 + Creating node unique constraint for name on label Genre for class __main__.Genre
{code: Neo.ClientError.Schema.EquivalentSchemaRuleAlreadyExists} {message: An equivalent constraint already exists, 'Constraint( id=20, name='constraint_unique_Genre_name', type='UNIQUENESS', schema=(:Genre {name}), ownedIndex=19 )'.}

In [11]:
# a = Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
#        'Genre', 'User-ID', 'Book-Rating', 'Location', 'Age', 'AgeGroup'],
#       dtype='object')

In [12]:
# USERS
for user_name, user_id in (dataf[["User-Name", 'User-ID']]
                  .drop_duplicates().values.tolist()

):
    User(name=user_name, uid=user_id).save()

# BOOKS
for book_title, isbn in (dataf[["Book-Title", "ISBN"]]
                  .drop_duplicates().values.tolist()

):
    Book(title=book_title, uid=isbn).save()

# AUTHORS
for book_author in (dataf["Book-Author"]
                  .drop_duplicates().values.tolist()
):

    Author(name=book_author).save()

# AGEGROUPS
for age_group in (dataf["AgeGroup"]
                  .drop_duplicates().values.tolist()
):

    AgeGroup(age=age_group).save()

# Genres
for genre in (dataf["Genre"]
                  .drop_duplicates().values.tolist()
):

    Genre(name=genre).save()

In [13]:

    
for book, author, user, age_group, genre in dataf[["Book-Title", "Book-Author", "User-ID", "AgeGroup", "Genre"]].drop_duplicates().values.tolist():
    # Find all matching books and authors
    books = Book.nodes.filter(title=book)
    authors = Author.nodes.filter(name=author)
    users = User.nodes.filter(uid=user)
    ages = AgeGroup.nodes.filter(age=age_group)
    genres = Genre.nodes.filter(name=genre)


    for book_node in books:
        for author_node in authors:
            book_node.written_by.connect(author_node)
        
        for genre_node in genres:
            book_node.belongs_to.connect(genre_node)
    
    for user_node in users:
        for book_node in books:
            user_node.read.connect(book_node)

        for age_node in ages:
            user_node.is_in.connect(age_node)

In [14]:

liked_df = dataf[dataf.Rating_cat == "Liked"]

for book, user in liked_df[["Book-Title", "User-ID"]].drop_duplicates().values.tolist():

    books = Book.nodes.filter(title=book)
    user = User.nodes.filter(uid=user)

    for user_node in user:
        for book_node in books:
            user_node.liked.connect(book_node)
            
not_df = dataf[dataf.Rating_cat == "Did Not Like"]

for book, user in not_df[["Book-Title", "User-ID"]].drop_duplicates().values.tolist():
# Find all matching books and authors
    books = Book.nodes.filter(title=book)
    user = User.nodes.filter(uid=user)

    for user_node in user:
        for book_node in books:
            user_node.hate.connect(book_node)

In [15]:
# set book likeability propperty

db.cypher_query(
"""
MATCH (book:Book)
OPTIONAL MATCH (book)<-[like:LIKED]-(:User)
WITH book, COUNT(DISTINCT like) AS Likes
OPTIONAL MATCH (book)<-[hate:HATE]-(:User)
WITH book, Likes, COUNT(DISTINCT hate) AS Hates
OPTIONAL MATCH (book)<-[read:READ]-(:User)
WITH book, Likes, Hates, COUNT(DISTINCT read) AS Reads
WITH book, Likes, Hates, Reads, 
     ROUND(100 * CASE WHEN Reads > 0 THEN toFloat(Likes) / Reads ELSE 0 END) / 100 AS LikeReadRatio
SET book.likeability = LikeReadRatio
RETURN book.title AS BookTitle, 
       Likes, 
       Hates, 
       (Likes + Hates) AS TotalReactions,
       LikeReadRatio
"""
)

([['Call of the Wild', 15, 37, 52, 0.27],
  ['Trading Places', 4, 16, 20, 0.2],
  ['Meditations for Women Who Do Too Much - 10th Anniversary', 3, 9, 12, 0.25],
  ['How to Lose Friends &amp; Alienate People', 3, 4, 7, 0.43],
  ['Nisa: The Life and Words of a !Kung Woman', 2, 2, 4, 0.5],
  ['SAVAGES', 0, 2, 2, 0.0]],
 ['BookTitle', 'Likes', 'Hates', 'TotalReactions', 'LikeReadRatio'])

In [16]:
# set genre likeability propperty

db.cypher_query(
"""
MATCH (genre:Genre)<-[:BELONGS_TO]-(book:Book)
OPTIONAL MATCH (book)<-[like:LIKED]-(:User)
WITH genre, book, COUNT(like) AS Likes
OPTIONAL MATCH (book)<-[hate:HATE]-(:User)
WITH genre, book, Likes, COUNT(hate) AS Hates
OPTIONAL MATCH (book)<-[read:READ]-(:User)
WITH genre, book, Likes, Hates, COUNT(read) AS Reads
WITH genre, COLLECT({book: book.title, likes: Likes, hates: Hates, reads: Reads}) AS Books
UNWIND Books AS bookDetails
WITH genre, 
     SUM(bookDetails.likes) AS TotalLikes, 
     SUM(bookDetails.hates) AS TotalHates,
     SUM(bookDetails.reads) AS TotalReads
WITH genre, TotalLikes, TotalHates, TotalReads,
     CASE WHEN TotalReads > 0 THEN ROUND(100 * toFloat(TotalLikes) / TotalReads) / 100 ELSE 0 END AS LikeReadRatio
SET genre.likeability = LikeReadRatio
RETURN genre.name AS Genre, 
       TotalLikes, 
       TotalHates,
       TotalReads,
       LikeReadRatio
ORDER BY genre.name
"""
)

([['Mystery', 0, 2, 2, 0.0],
  ['Romance', 7, 25, 32, 0.22],
  ['Science Fiction', 2, 2, 4, 0.5],
  ['Thriller', 18, 41, 62, 0.29]],
 ['Genre', 'TotalLikes', 'TotalHates', 'TotalReads', 'LikeReadRatio'])

In [17]:
# set author likeability propperty

db.cypher_query(
"""
MATCH (author:Author)<-[:WRITTEN_BY]-(book:Book)
OPTIONAL MATCH (book)<-[like:LIKED]-(:User)
WITH author, book, COUNT(DISTINCT like) AS Likes
OPTIONAL MATCH (book)<-[hate:HATE]-(:User)
WITH author, book, Likes, COUNT(DISTINCT hate) AS Hates
OPTIONAL MATCH (book)<-[read:READ]-(:User)
WITH author, book, Likes, Hates, COUNT(DISTINCT read) AS Reads
WITH author, SUM(Likes) AS TotalLikes, SUM(Hates) AS TotalHates, SUM(Reads) AS TotalReads
WITH author, TotalLikes, TotalHates, TotalReads,
     CASE WHEN TotalReads > 0 THEN ROUND(100 * toFloat(TotalLikes) / TotalReads) / 100 ELSE 0 END AS LikeReadRatio
SET author.likeability = LikeReadRatio
RETURN author.name AS AuthorName, 
       TotalLikes, 
       TotalHates,
       TotalReads,
       LikeReadRatio
ORDER BY author.name

"""
)

([['Anne Wilson Schaef', 3, 9, 12, 0.25],
  ['Fern Michaels', 4, 16, 20, 0.2],
  ['Jack London', 15, 37, 55, 0.27],
  ['Majorie Shostak', 2, 2, 4, 0.5],
  ['Shirley Conran', 0, 2, 2, 0.0],
  ['Toby Young', 3, 4, 7, 0.43]],
 ['AuthorName', 'TotalLikes', 'TotalHates', 'TotalReads', 'LikeReadRatio'])

In [18]:
# set book likeability propperty

db.cypher_query(
"""
MATCH (book:Book)
OPTIONAL MATCH (book)<-[like:LIKED]-(:User)
WITH book, COUNT(DISTINCT like) AS Likes
OPTIONAL MATCH (book)<-[hate:HATE]-(:User)
WITH book, Likes, COUNT(DISTINCT hate) AS Hates
OPTIONAL MATCH (book)<-[read:READ]-(:User)
WITH book, Likes, Hates, COUNT(DISTINCT read) AS Reads
WITH book, Likes, Hates, Reads, 
     ROUND(100 * CASE WHEN Reads > 0 THEN toFloat(Likes) / Reads ELSE 0 END) / 100 AS LikeReadRatio
SET book.likeability = LikeReadRatio
RETURN book.title AS BookTitle, 
       Likes, 
       Hates, 
       (Likes + Hates) AS TotalReactions,
       LikeReadRatio
"""
)

([['Call of the Wild', 15, 37, 52, 0.27],
  ['Trading Places', 4, 16, 20, 0.2],
  ['Meditations for Women Who Do Too Much - 10th Anniversary', 3, 9, 12, 0.25],
  ['How to Lose Friends &amp; Alienate People', 3, 4, 7, 0.43],
  ['Nisa: The Life and Words of a !Kung Woman', 2, 2, 4, 0.5],
  ['SAVAGES', 0, 2, 2, 0.0]],
 ['BookTitle', 'Likes', 'Hates', 'TotalReactions', 'LikeReadRatio'])

In [19]:
# set UserAuthor likeability propperty

db.cypher_query(
"""
MATCH (user:User)-[:READ]->(book)-[:WRITTEN_BY]->(author:Author)
OPTIONAL MATCH (user)-[like:LIKED]->(book)
OPTIONAL MATCH (user)-[hate:HATE]->(book)
WITH user, author, 
     COUNT(DISTINCT like) AS Likes, 
     COUNT(DISTINCT hate) AS Hates
WITH user, 
     COLLECT({author: author.name, likeRatio: CASE WHEN (Likes + Hates) > 0 THEN ROUND(100 * toFloat(Likes) / (Likes + Hates)) / 100 ELSE 0 END}) AS AuthorLikeRatios
SET user.authorLikeRatios = apoc.convert.toJson(AuthorLikeRatios)
"""
)

([], [])

In [20]:
# set UserGenre likeability propperty

db.cypher_query(
"""
MATCH (user:User)-[:READ]->(book)-[:BELONGS_TO]->(genre:Genre)
OPTIONAL MATCH (user)-[like:LIKED]->(book)
OPTIONAL MATCH (user)-[hate:HATE]->(book)
WITH user, genre, 
     COUNT(DISTINCT like) AS Likes, 
     COUNT(DISTINCT hate) AS Hates
WITH user, 
     COLLECT({genre: genre.name, likeRatio: CASE WHEN (Likes + Hates) > 0 THEN ROUND(100 * toFloat(Likes) / (Likes + Hates)) / 100 ELSE 0 END}) AS GenreLikeRatios
SET user.genreLikeRatios = apoc.convert.toJson(GenreLikeRatios)
"""
)

([], [])

In [21]:
# bookscore for new user

data = db.cypher_query(
"""
MATCH (book:Book)-[:BELONGS_TO]->(genre:Genre)
MATCH (book)-[:WRITTEN_BY]->(author:Author)
RETURN book.title AS BookTitle,
       genre.name AS BookGenre,
       author.name AS AuthorName,
       ROUND(100 * (COALESCE(book.likeability, 0) + COALESCE(genre.likeability, 0) + COALESCE(author.likeability, 0))) / 100 AS TotalLikeabilityScore
ORDER BY TotalLikeabilityScore DESC
"""
)[0]

In [22]:

df = pd.DataFrame(data, columns=['BookTitle', 'Genre', 'Author', 'Score'])
df

,BookTitle,Genre,Author,Score
0,Nisa: The Life and Words of a !Kung Woman,Science Fiction,Majorie Shostak,1.50
1,How to Lose Friends &amp; Alienate People,Thriller,Toby Young,1.15
2,Call of the Wild,Thriller,Jack London,0.83
3,Meditations for Women Who Do Too Much - 10th A...,Romance,Anne Wilson Schaef,0.72
4,Trading Places,Romance,Fern Michaels,0.62
5,SAVAGES,Mystery,Shirley Conran,0.00

In [23]:
def get_random_user_name():
        result = db.cypher_query("""
            MATCH (user:User)
            WITH COLLECT(user.name) AS names
            RETURN apoc.coll.randomItem(names) AS RandomUserName
        """)
        return result[0][0][0]

random_user_name = get_random_user_name()

In [24]:

# Rekommendation for user:

USER_NAME = 'Dorethe Nørgård'

USER_NAME = random_user_name

In [25]:

query_string = f"""
MATCH (user:User {{name: '{USER_NAME}'}})
WITH user, 
     apoc.convert.fromJsonList(user.authorLikeRatios) AS authorRatiosList,
     apoc.convert.fromJsonList(user.genreLikeRatios) AS genreRatiosList

UNWIND authorRatiosList as authorRatios
UNWIND genreRatiosList as genreRatios

MATCH (book:Book)-[:BELONGS_TO]->(genre:Genre)
MATCH (book)-[:WRITTEN_BY]->(author:Author)
WHERE NOT (user)-[:READ]->(book)
WITH book, 
     genre, 
     author, 
     CASE WHEN author.name = authorRatios.author THEN authorRatios.likeRatio ELSE 1 END AS authorLikeRatio,
     CASE WHEN genre.name = genreRatios.genre THEN genreRatios.likeRatio ELSE 1 END AS genreLikeRatio
RETURN book.title AS BookTitle,
       genre.name AS BookGenre,
       author.name AS AuthorName,
       ROUND(100 * (COALESCE(book.likeability, 0) + COALESCE(genre.likeability, 0) * genreLikeRatio + COALESCE(author.likeability, 0) * authorLikeRatio)) / 100 AS TotalLikeabilityScore
ORDER BY TotalLikeabilityScore DESC
"""

# Execute the query
user_data = db.cypher_query(query_string)[0]

In [26]:
# Create a DataFrame
df = pd.DataFrame(user_data, columns=['BookTitle', 'Genre', 'Author', 'Score'])
df

,BookTitle,Genre,Author,Score
0,Nisa: The Life and Words of a !Kung Woman,Science Fiction,Majorie Shostak,1.50
1,Meditations for Women Who Do Too Much - 10th A...,Romance,Anne Wilson Schaef,0.72
2,Trading Places,Romance,Fern Michaels,0.62
3,Call of the Wild,Thriller,Jack London,0.54
4,SAVAGES,Mystery,Shirley Conran,0.00